@import "tailwindcss";

@theme {
  /* Color Primary */
  --color-primary-900: #151c25;
  --color-primary-800: #1c2531;
  --color-primary-700: #24303f;
  --color-primary-600: #2e3d51;
  --color-primary-500: #334359;
  --color-primary-400: #5c697a;
  --color-primary-300: #768190;
  --color-primary-200: #a1a9b3;
  --color-primary-100: #c0c5cc;
  --color-primary-50: #ebecee;
  --color-body: #ffffff;

  /* Color Dark */
  --color-dark-900: #212121;
  --color-dark-800: #3d3d3d;
  --color-dark-700: #454545;
  --color-dark-600: #4f4f4f;
  --color-dark-500: #5d5d5d;
  --color-dark-400: #6d6d6d;
  --color-dark-300: #888888;
  --color-dark-200: #b0b0b0;
  --color-dark-100: #d1d1d1;
  --color-dark-50: #e7e7e7;

  /* Color Grey */
  --color-grey-1: #333333;
  --color-grey-2: #4f4f4f;
  --color-grey-3: #828282;
  --color-grey-4: #bdbdbd;
  --color-grey-5: #e0e0e0;
  --color-grey-6: #f2f2f2;

  /*  */
}

html {
  scroll-behavior: smooth;
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
